spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/unimanage
    username: postgres
    password: toca0805

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8089

springdoc:
  swagger-ui:
    path: /swagger-ui.html
